{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block main %}
    <div class="container mt-5 pt-4">
        <h1 class="text-center mb-3">{{ title }}</h1>
        <img src="{{ asset('images/restaurant/restaurant.jpg') }}" class="img-fluid my-4 w-100" alt="restaurant HotelHouse">
        
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam itaque nemo explicabo ipsa vero est totam saepe maiores praesentium dolor omnis quod, aut iste? Reprehenderit eos deserunt voluptates cum blanditiis!
        Qui ab id ea sunt odit nobis facere corrupti deserunt facilis, natus repudiandae officiis dolorum! Culpa alias voluptate facere rerum soluta. Ipsam dignissimos nobis doloremque ab, quasi commodi possimus cum.
        Animi corrupti pariatur repellendus sunt at cupiditate maxime ducimus earum, tempora mollitia laboriosam consequuntur nisi magnam aspernatur sapiente quibusdam modi vel dolore ipsum fuga inventore error? Cumque alias dolores voluptatem.</p>
        
        <h2 class="text-center mb-3">Nos cartes</h2>
        
        <div class="row justify-content-around">
            <div class="card col-md-3">
                <a href="{{ asset('images/restaurant/restaurant_carte_petit-dejeuner.jpg') }}" target="_blank">
                    <img src="{{ asset('images/restaurant/restaurant_carte_petit-dejeuner.jpg') }}"
                        class="card-img-top"
                        alt="carte du restaurant HotelHouse">
                </a>
                <div class="card-body">
                    <h3 class="card-title">Carte Brasserie (carte du midi)</h3>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
            <div class="card col-md-3">
                <a href="{{ asset('images/restaurant/restaurant_carte_dejeuner.jpg') }}" target="_blank">
                    <img src="{{ asset('images/restaurant/restaurant_carte_dejeuner.jpg') }}"
                        class="card-img-top"
                        alt="carte du restaurant HotelHouse">
                </a>

                <div class="card-body">
                    <h3 class="card-title">Carte Dégustation (carte de l'après-midi)</h3>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
            <div class="card col-md-3">
                <a href="{{ asset('images/restaurant/restaurant_carte_dessert.jpg') }}" target="_blank">
                    <img src="{{ asset('images/restaurant/restaurant_carte_dessert.jpg') }}"
                        class="card-img-top"
                        alt="carte du restaurant HotelHouse">
                </a>
                <div class="card-body">
                    <h3 class="card-title">Carte Restaurant (carte du soir)</h3>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
